<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>141561923614-ppquocke4elr1qegs0i36j10hgti6jn9.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.141561923614-ppquocke4elr1qegs0i36j10hgti6jn9</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>141561923614-2opmk3pd27j99tmt8vu73nor5kdhqua8.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyArnDB-tQ928TKR-fZmm1CDMvoG3DR_g9U</string>
	<key>GCM_SENDER_ID</key>
	<string>141561923614</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.developlogix.streetcalle.streetCalle</string>
	<key>PROJECT_ID</key>
	<string>street-calle</string>
	<key>STORAGE_BUCKET</key>
	<string>street-calle.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:141561923614:ios:2a5d7f6e6dfa1020ea460f</string>
</dict>
</plist>